html {
    position: relative;
    min-height: 100%;
    background-color: #002700;
}

body {
    background-color: #004900;
    margin: 0 0 40px;
    /* bottom = footer height */
    padding: 0px;
}

header{
    color: rgb(0, 2, 109);
    /*border: 1px solid yellow;*/
    text-align: center;
    padding: 10px;
}

img:hover {
   background-color: green;
   border: green solid 5px;
}

#player{

    width: 400px;
    font-size: 25px;
    border: black solid 5px;
    display:inline-table;
}

#dealer{
    margin-top: 15px;
    color: white;
  /*font-size: 25px;*/
    text-align: center;
    color: rgb(161, 0, 161);
    border: 5px solid black;
    display: block;
}



.dealers_cards, .players_cards{
    /*width: 600px;*/
    overflow: hidden;
    margin: auto;
    padding: 10px 40px 10px 10px;
    color: grey;
    /*height: 110px;*/
    /*border: 1px solid yellow;*/
}

#game {
    text-align: center;
    display: none;
}