@{
    Layout = "_Layout";
}
@using BlackJackTeamProject.Models;

<div id={"first gameId" + Game.games.Count}>
    <h1>Welcome to Blackjack</h1>
</div>
<div id="first">
    <h1>Welcome to Blackjack</h1>
    <br>
    <form id="numberPlayers">
        <label for="players">Choose number of players:</label>
        <select name="players" id="players">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <br>
        <label for="rounds">Choose number of rounds:</label>
        <input type="number">
        <br>
        <button type="submit">Start!</button>
    </form>
</div>

<div id="game">

    <div id="dealer">
        <h1>Dealer</h1>
        <div>
        </div>
    </div>

    @*
        <div class="player" id="player1">
        <p>Name:
        <script>$(".name").text(playerInput)</script>
        </p>
        <form class="formPlayer">

        <input type="text" class="form-control" name="formSubmit"><br>
        </form>
        <div></div>
        </div>

        <div class="player" id="player2">
        Name:
        <form class="formPlayer">

        <input type="text" class="form-control"><br>
        <!-- <input type="submit" value="Submit"> -->
        </form>
        <div></div>
        </div>

        <div class="player" id="player3">
        Name:
        <form class="formPlayer">

        <input type="text" class="form-control"><br>
        <!-- <input type="submit" value="Submit"> -->
        </form>
        <div></div>

        </div>

        <div class="player" id="player4">
        Name:
        <form id="formPlayer">

        <input type="text" class="form-control"><br>
        <!-- <input type="submit" value="Submit"> -->
        </form>
        <div></div>
        </div> *@

    <div id="interface">
        <button class="switch" id="HitButton">Hit me</button>
        <button class="submit" id="StandButton">Stand</button>
        <p>How much you betting? <input class="number"></button></p>
        <button class="submit">End game</button>
    </div>


</div>