@{
    Layout = "_Layout";
}
@using BlackJackTeamProject.Models;
<div id="winners">
    
</div>
<div id="first">
    <h1>Welcome to Blackjack</h1>
    <br>
    <form id="numberPlayers">
        <label for="players">Choose number of players:</label>
        <select name="players" id="players">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <br>
        <label for="numberRounds">Choose number of rounds:</label>
        <input type="number" name="numberRounds" id="numberRounds" required>
        <br>
        <button type="submit">Start!</button>
    </form>
</div>

<div id="game">

    <div id="dealer">
        <h1>Dealer</h1>
        <div>
        </div>
    </div>

    <div id="playerdivs">

    </div>

    <div id="interface">
        <button class="switch" id="HitButton">Hit me</button>
        <button class="submit" id="StandButton">Stand</button>
        <button class="submit" id="newroundButton">Next Round</button>
        <p><span id="rounds"></span> </p>
    </div>

    <div id="scores">
        <h1>Player Scores</h1>
        <ol id="playerscores">

        </ol>
        <h1>Dealer Score</h1>
        <div id="dealerscore">

        </div>
    </div>


</div>
