@{
    Layout = "_Layout";
}

<div id="first">
    <h1>Welcome to Blackjack</h1>
</div>
<div id="game">
    <div id="dealer">
        <h1>Dealer</h1>
        <img src="" alt="A picture of two cards">
    </div>

    <div id="player">
        <form id="myForm" action="/action_page.php">
            Name: <input type="text" name="fname" value=""><br>
            <!-- <input type="submit" value="Submit"> -->
        </form>
        <img src="" alt="A picture of two cards">
    </div>

    <div id="player">
        <form id="myForm" action="/action_page.php">
            Name: <input type="text" name="fname" value=""><br>
            <!-- <input type="submit" value="Submit"> -->
        </form>
        <img src="" alt="A picture of two cards">
    </div>

    <div id="player">
        <form id="myForm" action="/action_page.php">
            Name: <input type="text" name="fname" value=""><br>
            <!-- <input type="submit" value="Submit"> -->
        </form>
        <img src="" alt="A picture of two cards">

    </div>

    <div id="player">
        <form id="myForm" action="/action_page.php">
            Name: <input type="text" name="fname" value=""><br>
            <!-- <input type="submit" value="Submit"> -->
        </form>
        <img src="" alt="A picture of two cards">
    </div>

    <div id="interface">
        <button class="switch" id="StartButton">Start!</button>
        <button class="switch" id="HitButton">Hit me</button>
        <button class="submit" id="StandButton">Stand</button>
        <p>How much you betting? <input class="number"></button></p>
    </div>
    <button class="submit">End game</button>

</div>